<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- As 3 meta tags acima *devem* vir em primeiro lugar dentro do `head`; qualquer outro conteúdo deve vir *após* essas tags -->
    {% block head %}
        <title>
            {% if page_name %}
                {{ page_name }} -
            {% endif %}
            Task Controller
        </title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

        <link rel="stylesheet" href="css/milligram.css">
        <link rel="stylesheet" href="css/extra-styles.css">
        <link rel="stylesheet" href="css/fas/css/all.css">
        <link rel="stylesheet" href="css/modal.css">
        <link rel="stylesheet" href="css/navbar.css">

    {% endblock %}
</head>
<body class="">
{% block navbar %}

{% endblock %}
<div class="container">

{% block content %}


{% endblock %}
</div>
{% block scripts %}

{% endblock %}
</body>
</html>