{% extends "base.twig" %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block center %}
<img style="max-width:432px; display: block; margin: 50px auto;" src="http://ativacaofibra.redeunifique.com.br/cadastro/img/logo2017.png" width="100%">

    <div class="row"><br><br><br></div>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <a class="button" href="cad-unidade.php">Unidades</a>
            <a class="button" href="cad-colaborador.php">Responsáveis e Participantes</a>
            <a class="button" href="cad-task.php">Modelos de Tasks</a>
            <a class="button" href="cad-n3.php">Colaboradores N3</a>
            <a class="button" href="cad-tecnologia.php">Tecnologias</a>
            <a class="button" href="cad-apikey.php">Gerenciar chaves API</a>
            <a class="button" href="search-bitrix-id.php">Buscar Bitrix ID por nome</a>
            <a class="button" href="edit-pass.php">Alterar a minha senha</a>
            <a class="button" href="cad-usuario.php">Usuários</a>
            <a class="button" href="backup.php">Backup do Banco de Dados</a>

        </div>
        <div class="column"></div>
    </div>
    <div class="row"></div>

{% endblock %}