<div class='navbar'>
    <ul>
        <li><a class="active" href="index.php">Inicio</a></li>

        <li class="float-left"><a href="cad-unidade.php">Unidades</a></li>
        <li class="float-left"><a href="cad-colaborador.php">Responsáveis e participantes</a></li>
        <li class="float-left"><a href="cad-task.php">Modelos de Task</a></li>
        <li class="float-left"><a href="cad-n3.php">Colaboradores N3</a></li>
        <li class="float-left"><a href="cad-tecnologia.php">Tecnologia</a></li>
        <li class="float-left"><a href="cad-usuario.php">Usuários</a></li>
        
        
        <li class="float-right"><a href="logout.php">Logout</a></li>
        <li class="float-right"><a href="edit-pass.php">Alterar a minha senha</a></li>
    </ul>
</div>