<script>

function unhideResponsaveis(unidade){
    unhide(document.querySelectorAll(".hiddable"),unidade);
}

function unhide(options, unidade){
    for (let i = 0; i < options.length ; i++){
        let unidade_to_test = options[i].dataset.unidade.split("|");
        let hidden = true;

        for (let a = 0; a<unidade_to_test.length; a++){
            let test = unidade_to_test[a].replace(/\s/g, '');
            if(test != '' && test == unidade){
                hidden = false;
            }
        }
        if (hidden != true){
            options[i].style.display = 'block';
        } else {
            options[i].style.display = 'none';
        }
    }
}

var activities = document.getElementById("unidades");

activities.addEventListener("click", function() {
    var options = activities.querySelectorAll("option");
    var count = options.length;
    if(typeof(count) === "undefined" || count < 2)
    {
        addActivityItem();
    }
});

activities.addEventListener("change", function() {
    if(activities.value > 0)
    {
        addActivityItem();
    }
});

function addActivityItem() {
    unhideResponsaveis(activities.value);
}
</script>